extends layout.pug

block append head
  title= "serveur"
block append header 
    h1 Curriculum Vitae
    h2 Dev. FullStack JS / Web Designer
    block append nav
block append content 
    section.container.cv
        .row
            .col-12
                h3
                    a(href='ressources/curriculum.pdf') T&eacute;l&eacute;charger version PDF 
                    | /
                    a(href='https://www.linkedin.com/in/david-higuet/')  Profil Linkedin
            .col-12
                h3 DAVID
            article.col-6
                h4 Dev. Full Stack JS
                h4 Web designer
            article.col-6
                h3 HIGUET
            article.col-6
                | 33 ans 
                br
                |                     Celibataire 
                br
                |                     Nationalit&eacute; fran&ccedil;aise
            article.col-6
                | Anglais 
                br
                |                     Permis B 
                br
                |                     davidhiguet001@yahoo.fr
            article.col-md-6
                h5 COMPETENCES
                h6 JAVASCRIPT
                |                         AJAX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ANGULAR.JS
                |                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JQUERY 
                br
                |                         Node.js &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mango.DB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EXPRESS 
                br
                |  WEBSOCKET
                h6 WEB - INTEGRATION
                |                         Html5 - Css3 
                br
                |                         Sass 
                br
                |                         Bootstrap 
                br
                |                         Mysql / Wordpress
                h6 GRAPHISME
                |                          ANIMATE&nbsp;&nbsp;&nbsp;&nbsp;    ILLUSTRATOR
                |                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHOTOSHOP
                br
                |  INDESIGN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AFTER EFFECT
            article.col-md-6
                h5 EXPERIENCES
                h6
                    | 2018 - en cours
                a(href='http://www.pompadour-sellier.com') POMPADOUR-SELLIER.COM
                p R&eacute;alisation site web Maquettages valid&eacute;s
                h6
                    | 2017 - 
                    a(href='http://arthursoon.com') ARTHURSOON.COM
                p
                    | R&eacute;alisation site web pour le 
                    br
                    |   photographe Arthur Soon 
                    br
                    |  (page web, logos, ... )
                h6 2017 - aout / septembre
                p
                    a(href='https://www.soproxi.com/application-commerce-proximite') SOPROXI.COM
                    |  stage de fin d&rsquo;&eacute;tudes(pbnet consulting) 
                    br
                    |   R&eacute;alisation du site internet, cr&eacute;ations graphiques 
                    br
                    |  ( logos, icones, photomontages,..), 
                    br
                    |  maquettage des  diff&eacute;rentes
                    br
                    | pages de l&rsquo;application 
                    |                             SOPROXI 
                    br
                    | (google play / apple store).
                h6 2017 - aout / septembre
                p
                | Projet de fin d&rsquo;&eacute;tudes DIVERGENTE site web. 
                br
                |  R&eacute;alisations graphiques (newsletters, logos,...)
            article.col-md-6.col-md-push-6
                h5 FORMATION
                h6 2017/2018
                |                             Titre RNCP niveau 2 (eq. master 1)
                br
                |                             Dev. Full stack Javascript
                h6 2017
                |                             Titre RNCP niveau 3 (eq. bac+2)
                br
                |                             Web Design
                h6 2013
                |                             Formation nationale des r&eacute;seaux
                br
                |   Lassaliens d&rsquo;assistant d&rsquo;&eacute;ducation
                h6 2006
                |                             Universit&eacute; - Langues &eacute;trang&egrave;res
                br
                |  appliqu&eacute;es
                h6 2005
                |                             Baccalaur&eacute;at STT - comptabilit&eacute; et
                br
                |  gestion
            article.col-md-6.col-md-pull-6
                h6 2008 - 2016
                a(href='')
                |  ASSISTANT D&rsquo;EDUCATION 
                br
                |  SAINT - GENES
                p
                | Activit&eacute;s scolaires : surveillance, gestion des &eacute;tudes, 
                br
                |  &eacute;valuations des rapports de stage des &eacute;l&egrave;ves . 
                br
                |                             Activit&eacute;s extra-scolaires : 
                br
                |     cr&eacute;ation, organisation de voyage &laquo;humanitaire&raquo;,  
                br
                |  &agrave; Madagascar ( 2013 ), et Lima ( PEROU 2015 ), 
                br
                |                             accompagnement voyage scolaire ( Madrid, Londres ). 
                br
                |  T&acirc;ches administratives
                h6 2007
                p
                | Equipier - MACDONALD - LONDRES
                br
                | Gar&ccedil;on au pair -Famille Birkinshaw - LONDRES
                h5 CENTRE D&apos;INTERET
                ul
                    li Le sport en g&eacute;n&eacute;ral
                    li Les arts
                    li L&rsquo;architecture
                    li le design 
                    li La musique
block append pied  
    #footcv.cent
        footer.container
            .row
                p.col-12
                    | IFOCOP Responsable de formation : Fabienne THIRY
                    br
                    |  Email : fthiry@ifocop.fr - Tel: 01 40 21 83 78