.container
    button.navbar-toggler.navbar-toggler-right.text-uppercase.bg-primary.text-white.rounded(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
        | Menu
        i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item.mx-0.mx-lg-3
                a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href="/") HOME
            li.nav-item.mx-0.mx-lg-3
                a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href="/frontgame") FRONTGAME
            li.nav-item.mx-0.mx-lg-3
                a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href="/cv") CURRICULUM
            li.nav-item.mx-0.mx-lg-3
                a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href="/maps") MAPS
            li.nav-item.mx-0.mx-lg-3
                a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href="/multiPlayerGame") MULTIPLAYERGAME


