.perso{
    width: 150px;
}
.cadre{
    display: flex;
}
#play{
position: absolute;
top: 0;
width: 100vw;
height: 100vh;
display: none;
background-color: black;
overflow: hidden;
}
#formulaire{
width: 300px;
height: 300px;
background-color: red;
color: white;

margin: 0 auto;
display: block;
text-align: center;
}
.perso img{
    width: 100%;
}
#wait{
width: 300px;
height: 300px;
color: white;
margin: 0 auto;
display: block;
text-align: center;
font-size: 75px;
background-position: center center;
background-repeat: none;
background-size: contain;
display: none;
}
#wait h3{
    line-height: 300px;
}
#wait h4{
    line-height: -50px;
}
#game{
    display: none;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
   div {
    animation: fadeIn 1s;
  }
  .planete{
      background-color: yellow;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 5;
      position: absolute;
  }
  .yellow{
      background-color: yellow;
  }
  .red{
      background-color: red;
  }
  #circle{
      margin-top: 50px;
      margin-left: 50px;
      border: 5px solid black;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      position: relative;
      
      -animation: spin1 1.5s infinite linear;
      -moz-animation: spin1 1.5s infinite linear;
      animation: spin1 1.5s infinite linear;
      
      
  }
  @-webkit-keyframes spin1 {
      0% { -webkit-transform: rotate(0deg);}
      100% { -webkit-transform: rotate(360deg);}
      }
      @-moz-keyframes spin1 {
      0% { -moz-transform: rotate(0deg);}
      100% { -moz-transform: rotate(360deg);}
      }
      @keyframes spin1 {
      0% { transform: rotate(0deg);}
      100% { transform: rotate(360deg);}
      } 

button{
    margin-top: 250px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}
#multiGame article{
text-align: center;
width:600px;
height: 600px;
background-color: yellow;
color: black;
margin: 0 auto;

}
span{
    color: black;
}
#yellow, #red{
    background-position: center, center;
    background-size: contain;
}